h1{
    font-family: sans-serif;
    text-align: center;
    text-decoration: line-through;
    text-decoration-line: underline;
    text-decoration-color: aqua;
    text-decoration-style: wavy;
    text-transform: lowercase;
    /* horizontal-verticle shadow-blur-color */
    text-shadow: 2px 2px 5px red , 5px 5px 5px blue;
    
}
h2{
    /* use of blur */
    text-shadow: 5px 5px 10px black;
    color: transparent;
    font-family: sans-serif;
}
h2:hover{
    text-shadow: none;
    color: blueviolet;
    font-family: sans-serif;
}

p{
    font-size: larger;
    font-weight: 600;
    font-style: italic;
    text-indent: 40px;
    letter-spacing: 0.3rem;
    line-height: 1.6rem;
}
a{
    text-decoration-line: none;
    background-color: black;
    color: white;
    padding: 6px;
    border-radius: 5px;
}
a:hover{
    background-color: white;
    color: black;
    border: 0.01rem solid black;
}